<div class="container-xxl py-5">
	<div class="container">
		<div class="text-center wow fadeInUp" data-wow-delay="0.1s">
			<h6 class="section-title bg-white text-center text-primary px-3">Création</h6>
			<h1 class="mb-5">Sa Création</h1>
		</div>
		<div class="col-lg-12 wow fadeInUp" data-wow-delay="0.3s">
			<p class="mb-4 text-center">La Banque Africaine Des Idées Et Innovations en abregée BAI,est un organisme et une plateforme scientifique inventée par Monsieur AKPEKABOU VODANDE Gutemberg en 2011.</p>
		</div>
	</div>
</div>
<div class="container-xxl py-5">
	<div class="container">
		<div class="text-center wow fadeInUp" data-wow-delay="0.1s">
			<h6 class="section-title bg-white text-center text-primary px-3">Vision</h6>
			<h1 class="mb-5">Notre Vision</h1>
		</div>
		<div class="col-lg-12 wow fadeInUp" data-wow-delay="0.3s">
			<p class="mb-4 text-center">La vision de la BAI est de contribuer à l'autonomisation intellectuelle, scienifique, technologique, indusrielle et économique de l'Afrique.</p>
		</div>
	</div>
</div>

<div class="container-xxl py-5">
	<div class="container">
		<div class="text-center wow fadeInUp" data-wow-delay="0.1s">
			<h6 class="section-title bg-white text-center text-primary px-3">Mission</h6>
			<h1 class="mb-5 text-center">Notre Mission</h1>
		</div>
		<div class="col-lg-12 wow fadeInUp" data-wow-delay="0.3s">
			<p class="mb-4 text-center">Les missions de la BAI sont :</p>
			<div class="row gy-2 gx-4 mb-4">
				<div class="col-sm-6">
					<p class="mb-0">
						<i class="fa fa-arrow-right text-primary me-2"></i>Susciter et booster l'esprit de créativité et d'innovaion de la population quelque soit les couches socio-professionnelles.</p>
				</div>
				<div class="col-sm-6">
					<p class="mb-0">
						<i class="fa fa-arrow-right text-primary me-2"></i>Créer et valoriser les inventeurs et innovateurs africains.</p>
				</div>
				<div class="col-sm-6">
					<p class="mb-0">
						<i class="fa fa-arrow-right text-primary me-2"></i>Mettre à la disposition de la population, des entreprises du secteur privé et public la liste des idées et innovations déclarées et approuvées et faire objet d'une valorisation systématique.</p>
				</div>
				<div class="col-sm-6">
					<p class="mb-0">
						<i class="fa fa-arrow-right text-primary me-2"></i>Susciter la participation de tous les peuples africains à l'autonomie de l'Afrique et au progrès de l'humanité.</p>
				</div>
			</div>
			{# <a class="btn btn-primary py-3 px-5 mt-2" href="">Read More</a> #}
		</div>
	</div>
</div>


<div class="container-xxl py-5">
	<div class="container">
		<div class="row g-5">
			<div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
				<div class="position-relative h-100">
					<img class="img-fluid position-absolute w-100 h-100" src="{{ file_url('public://img/Photo.1117a900.png') }}" alt="" style="object-fit: cover;">
				</div>
			</div>
			{# <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s"></div> #}
			<div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
				<h6 class="section-title bg-white text-start text-primary pe-3">Auteur</h6>
				<h1 class="mb-4">
					<span class="text-primary">AKPEKABOU VODANDE Gutemberg</span>
				</h1>
				<p class="mb-4">Chef de Service Recherche Développement Innovaion chez PALMAFRIQUE, Exécutif du Centre des Innovaions 
					                de PALMAFRIQUE, Directeur Exécutif du Programme de Recherche Appliquée e de Développement Durable d'APRI.
				</p>
				<div class="row gy-2 gx-4 mb-4">
					<div class="col-sm-6">
						<p class="mb-0">
							<i class="fa fa-arrow-right text-primary me-2"></i>Ig Bsc.</p>
					</div>
					<div class="col-sm-6">
						<p class="mb-0">
							<i class="fa fa-arrow-right text-primary me-2"></i>Msc</p>
					</div>
                    <div class="col-sm-6">
						<p class="mb-0">
							<i class="fa fa-arrow-right text-primary me-2"></i>PhD du génie industriel de l'ingénierie des Procédés Chimiques Agroalimentaires, Pharmaceutiques, Biotechnologies</p>
					</div>
					<div class="col-sm-6">
						<p class="mb-0">
							<i class="fa fa-arrow-right text-primary me-2"></i>MBA</p>
					</div>
					<div class="col-sm-6">
						<p class="mb-0">
							<i class="fa fa-arrow-right text-primary me-2"></i>Expertises analytiques, Sécurité et Santé au Travail, environnemenaux</p>
					</div>
					<div class="col-sm-6">
						<p class="mb-0">
							<i class="fa fa-arrow-right text-primary me-2"></i>Expertises analytiques, Sécurité et Santé au Travail, environnemenaux</p>
					</div>
					<div class="col-sm-6">
						<p class="mb-0">
							<i class="fa fa-arrow-right text-primary me-2"></i>Chercheur recherche et développement</p>
					</div>
					<div class="col-sm-6">
						<p class="mb-0">
							<i class="fa fa-arrow-right text-primary me-2"></i>Innovateur</p>
					</div>
					<div class="col-sm-6">
						<p class="mb-0">
							<i class="fa fa-arrow-right text-primary me-2"></i>Inventeur</p>
					</div>
					<div class="col-sm-6">
						<p class="mb-0">
							<i class="fa fa-arrow-right text-primary me-2"></i>Ethicien</p>
					</div>
					<div class="col-sm-6">
						<p class="mb-0">
							<i class="fa fa-arrow-right text-primary me-2"></i>Innovateur</p>
					</div>
				</div>
				{# <a class="btn btn-primary py-3 px-5 mt-2" href="">Read More</a> #}
			</div>
		</div>
	</div>
</div>
